# Add files here to ignore them from prettier formatting
/.expo
/android
/coverage
/dist
/ios
/tmp
/anchor/.anchor
/anchor/src/client/js/generated
/anchor/target
/anchor/crates/protocol/tests/vectors
pnpm-lock.yaml
.agents
agent
src/uniwind-types.d.ts
/src/keys/fixtures
/modules/*/android/.cxx
/modules/*/android/build
